<ol class="breadcrumb">
    <li><a href="/admin">后台</a></li>
    <li class="active">分类列表</li>
</ol>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>分类名</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% classifies.forEach((item,idx) => { %>
        <tr>
            <th scope="row"><%= idx %></th>
            <td><%= item._id %></td>
            <td><%= item.name %></td>
            <td>
                <a href="/admin/classifymodify?id=<%= item._id %>">修改</a>
                <a href="/admin/classifydelete?id=<%= item._id %>">删除</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% include ../common/navigation %>