<ul class="content-list">
    <% contents.forEach((item,idx) => { %>
    <li class="content-item">
        <h3 class="content-item-title"><%= item.title %></h3>
        <div class="content-item-info">
            <span class="cii-name">作者：<i><%= item.user.username %></i></span>
            <span class="cii-time">时间：<i><%= new Date(item.addTime).toLocaleString() %></i></span>
            <span class="cii-read-count">阅读：<i><%= item.views %></i></span>
            <span class="cii-comment-count">评论：<i><%= item.comments.length %></i></span>
        </div>
        <div class="content-item-summary">
            <span><%= item.content %></span>
        </div>
        <div class="content-item-ope">
            <a class="content-item-btn com-btn" href="/details?contentid=<%= item._id %>">阅读全文</a>
        </div>
    </li>
    <% }); %>
</ul>

<% include ../common/navigation %>